<ion-content class="notification">
  <app-headerbg></app-headerbg>
  <div class="notification-main">
    <div class="title">
      <ion-buttons slot="start" (click)="navBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">{{"notification_notifications"|translate}}</ion-title>
    </div>
    <div class="card-list">
      <div *ngFor="let item of notifications">
        <div class="item-date">
          <!-- //item have created_at date -->
          <span>{{item.created_at | date:'dd MMMM yyyy'}}</span>
        </div>
        <div class="item">
          <div class="left">
            <img src="{{item.image==null?'/assets/icon/cupon.svg':item.image}}">
          </div>
          <div class="text">
            <p>{{item.title}}</p>
            <span>{{item.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>