<ion-content class="notification">
  <app-headerbg></app-headerbg>
  <div class="notification-main">
    <div class="title">
      <ion-buttons slot="start" (click)="navBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">Bildirişlər</ion-title>
    </div>
    <div class="card-list">
      <div class="item-date">
        <span>Bu gün</span>
      </div>
      <div class="item">
        <div class="left">
          <img src="/assets/icon/cupon.svg">
        </div>
        <div class="text">
          <p>30% Xüsusi Endirim!</p>
          <span>Xüsusi kampaniya yalnız bu gün keçərlidir</span>
        </div>
      </div>
      <div class="item-date">
        <span>Dünən</span>
      </div>
      <div class="item">
        <div class="left">
          <img src="/assets/icon/cupon.svg">
        </div>
        <div class="text">
          <p>30% Xüsusi Endirim!</p>
          <span>Xüsusi kampaniya yalnız bu gün keçərlidir</span>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <img src="/assets/icon/cupon.svg">
        </div>
        <div class="text">
          <p>30% Xüsusi Endirim!</p>
          <span>Xüsusi kampaniya yalnız bu gün keçərlidir</span>
        </div>
      </div>
      <div class="item-date">
        <span>iyun 22. 2022</span>
      </div>
      <div class="item">
        <div class="left">
          <img src="/assets/icon/cupon.svg">
        </div>
        <div class="text">
          <p>30% Xüsusi Endirim!</p>
          <span>Xüsusi kampaniya yalnız bu gün keçərlidir</span>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <img src="/assets/icon/cupon.svg">
        </div>
        <div class="text">
          <p>30% Xüsusi Endirim!</p>
          <span>Xüsusi kampaniya yalnız bu gün keçərlidir</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>