<ion-content>
  <app-radar-search 
    [isSearching]=true 
    personName="Pərviz" 
    personPhoto="assets/img/person-min.jpg"
    personPhoto1="assets/img/person-min.jpg"
    personPhoto2="assets/img/person-min.jpg"
    personPhoto3="assets/img/person-min.jpg"
    personPhoto4="assets/img/person-min.jpg"
    personPhoto5="assets/img/person-min.jpg"
  ></app-radar-search>

  <!-- <app-otpcode>
  </app-otpcode> -->
  <!-- <app-headerbg
    [title]="'Kodu daxil et'"
    [subtitle]="'Zəhmət olmasa +994 00 000-00-00 nömrəsinə SMS ilə göndərilən doğrulama kodunu daxil edin'"
    [image]="'../assets/img/login.png'"
  ></app-headerbg> -->
  <app-menu></app-menu>
  <!-- <app-enteraddress></app-enteraddress> -->
</ion-content>