<ion-content class="departures">
  <app-headerbg></app-headerbg>
  <div class="departures-main">
    <div class="title">
      <ion-buttons slot="start" (click)="navBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">Rezervlərim</ion-title>
    </div>
    <ion-list>
      <ion-item lines="none" class="items">
        <div class="card">
          <div class="head">
            <p class="one">Rezerv</p>
          </div>
          <div class="const">
            <div class="address1">
              <p class="address-title">Koroğlu Rəhimov 34A</p>
              <p class="date">02:10 PM </p>
            </div>
            <div class="address2">
              <p class="address-title">Şirvanlı 1</p>
              <p class="date">02:10 PM </p>
            </div>
          </div>
          <div class="foot">
            <p class="price">₼ 20</p>
            <p class="date">02/05/2022 </p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
