<ion-content class="departures">
  <app-headerbg></app-headerbg>
  <div class="departures-main">
    <div class="title">
      <ion-buttons slot="start" (click)="navBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">{{"rezerv_rezervs"|translate}}</ion-title>
    </div>
    <ion-list>
      <ion-item lines="none" class="items">
        <div class="card" *ngFor="let rezerv of rezervs">
          <div class="head">
            <p class="one">{{rezerv.status |translate}}</p>
          </div>
          <div class="const">
            <div class="address1">
              <p class="address-title">{{rezerv.startLocationName}}</p>
              <p class="date">{{rezerv.startDate | date: 'HH:mm'}}</p>
            </div>
            <div class="address2">
              <p class="address-title">{{rezerv.endLocationName}}</p>
              <p class="date">{{rezerv.endDate | date: 'HH:mm'}}</p>
              <!-- <p class="date">02:10 PM </p> -->
            </div>
          </div>
          <div class="foot">
            <p class="price">{{rezerv.price}}₼</p>
            <p class="date">{{rezerv.created_at | date: 'dd.MM.yyyy'}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
