<ion-content [fullscreen] class="transition-page">
  <ion-item lines="none">
    <ion-button (click)="ayig()" class="rahatget">
      <div class="btns">
        <p>Ayıq sürücü xidməti</p>
        <img src="/assets/img/cardriver.png" />
      </div>
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-button (click)="evo()" class="evakutor">
      <div class="btns">
        <p>Evakuator xidmeti</p>
        <img src="/assets/img/evakuator.png" />
      </div>
    </ion-button>
  </ion-item>
</ion-content>