<ion-content [fullscreen] class="transition-page">
  <ion-item lines="none">
    <ion-button (click)="ayig()" style="background-image: url('/assets/img/bg1.jpg');">
      <div class="btns">
        <p>Ayıq sürücü xidməti</p>
        <img src="/assets/img/transition1.png" />
      </div>
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-button (click)="evo()" style="background-image: url('/assets/img/bg2.jpg');">
      <div class="btns">
        <p>Evakuator xidmeti</p>
        <img src="/assets/img/evo1.png" />
      </div>
    </ion-button>
  </ion-item>
</ion-content>