.transition-page{
    --background: #000000;
    ion-item{
        --background: transparent;
        ion-button{
            // height: 357px;
            height: calc(50vh - 10px);
            border-radius: 15px;
            width: 100%;
            --background: transparent;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 37px;
                text-align: center;
                color: #000000;
                margin-top: 60px;
                text-transform: none;
                margin-bottom: 0;
            }
            img{
            }
        }
        .btns{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}