<ion-content class="menu-content">
  <app-headerbg></app-headerbg>
  <div class="main-cont">
    <div class="avatar">
      <ion-avatar>
        <img src="{{myService.user.photo}}" />
        <!-- <img src="assets/img/p4.jpg" /> -->
        <div class="edit-icon" (click)="goToMyInfo()">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
        <!-- <div class="edit-icon">
          <ion-icon name="camera-outline"></ion-icon>
        </div> -->
      </ion-avatar>
      <div class="name">
        <h3>{{myService.user.fullname}}</h3>
        <p>{{myService.user.phone}}</p>
      </div>
    </div>
    <ion-list>
      <ion-item lines="none" detail="true" routerLink="/home">
        <ion-label class="ion-no-padding">{{"setting_order"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/notification">
        <ion-label class="ion-no-padding"><p>{{"setting_notifications"|translate}} <span></span></p></ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/departures">
        <ion-label class="ion-no-padding">{{"setting_departures"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/paymentmethods">
        <ion-label class="ion-no-padding">{{"setting_payment_method"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/myinfo">
        <ion-label class="ion-no-padding">{{"setting_account_info"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/promocode">
        <ion-label class="ion-no-padding">{{"setting_promo_code"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/myaddress">
        <ion-label class="ion-no-padding">{{"setting_address"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/myreservation">
        <ion-label class="ion-no-padding">{{"setting_rezervs"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-no-padding">{{"setting_change_lang"|translate}}</ion-label>
        <ion-select [(ngModel)]="SelectedLang" (ionChange)="selectLang()">
          <ion-select-option value="en">EN</ion-select-option>
          <ion-select-option value="az">AZ</ion-select-option>
          <ion-select-option value="ru">RU</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" detail="true" routerLink="/help">
        <ion-label class="ion-no-padding">{{"setting_support"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" class="log-out" detail="true">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label class="ion-no-padding">{{"setting_logout_account"|translate}}</ion-label>
      </ion-item>
      <ion-item lines="none" class="access-towtruck">
        <ion-label class="ion-no-padding">{{"setting_evo_service"|translate}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>