<ion-content class="nowifipage">
  <div class="main">
    <div class="img-block">
      <h1 class="title">{{"no_internet_connection"|translate}}</h1>
      <div class="image">
        <img class="img-fluid" src="/assets/img/nowifi.png" alt="no-wifi">
      </div>
      <p class="text">{{"check_network_try_again"|translate}}</p>
    </div>
    <div class="buttons">
      <ion-button class="btn-primary" (click)="TryConnect()">{{"load_again"|translate}}</ion-button>
    </div>
  </div>
</ion-content>