.otpcode-component {
  ion-input {
    text-align: center;
    border: 1px solid #9ea2b3;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #838799;
  }
}
