<ion-content class="editprofile" *ngIf="step == 1">
  <app-headerbg></app-headerbg>
  <div class="editmain">
    <div class="title">
      <ion-buttons slot="start" (click)="navBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">{{"account_account_info"|translate}}</ion-title>
    </div>
    <div class="form">
      <ion-list>
        <ion-item lines="none">
          <ion-button (click)="selectImage1()">
              <ion-img class="img" [src]="User.photo">
              </ion-img>
              <!-- <p>Öz şəklinizi yükləyin</p> -->
              <div class="edit-icon">
                <ion-icon name="camera-outline"></ion-icon>
              </div>
            </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{"account_name_surname"|translate}}</ion-label>
          <ion-input [(ngModel)]="User.fullname" type="text" placeholder="{{'account_fullname'|translate}}"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{"account_age"|translate}}</ion-label>
          <ion-input [(ngModel)]="User.age" type="number" placeholder="{{'account_age'|translate}}"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{"account_phone"|translate}}</ion-label>
          <ion-input [(ngModel)]="User.phone" type="tel" placeholder="+994555555555"></ion-input>
        </ion-item>
      </ion-list>
      <div class="enter-btn">
        <ion-button (click)="Save()" class="btn-primary">{{"account_save"|translate}}</ion-button>
        <ion-button (click)="profile2()" class="reset">{{"account_reset_pass"|translate}}</ion-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-content class="editprofile" *ngIf="step == 2">
  <app-headerbg></app-headerbg>
  <div class="editmain">
    <div class="title">
      <ion-buttons slot="start" (click)="backbtn()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">{{"account_reset_pass"|translate}}</ion-title>
    </div>
    <div class="form">
      <ion-list>
        <ion-item lines="none">
          <ion-label position="stacked">{{"account_old_pass"|translate}}</ion-label>
          <div class="inputs">
            <ion-input class="ion-no-padding" [(ngModel)]="OldPass" [type]="passwordType2"
              placeholder="*********"></ion-input>
            <a class="type-toggle" (click)="tooglePassword2()">
              <ion-icon class="show-option" [hidden]="passwordShow2" name="eye-off-outline"></ion-icon>
              <ion-icon class="hide-option" [hidden]="!passwordShow2" name="eye-outline"></ion-icon>
            </a>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{"account_new_pass"|translate}}</ion-label>
          <div class="inputs">
            <ion-input class="ion-no-padding" [(ngModel)]="NewPass" [type]="passwordType"
              placeholder="*********"></ion-input>
            <a class="type-toggle" (click)="tooglePassword()">
              <ion-icon class="show-option" [hidden]="passwordShow" name="eye-off-outline"></ion-icon>
              <ion-icon class="hide-option" [hidden]="!passwordShow" name="eye-outline"></ion-icon>
            </a>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{"account_new_pass_again"|translate}}</ion-label>
          <div class="inputs">
            <ion-input class="ion-no-padding" [(ngModel)]="ConfirmPass" [type]="passwordType1"
              placeholder="*********"></ion-input>
            <a class="type-toggle" (click)="tooglePassword1()">
              <ion-icon class="show-option" [hidden]="passwordShow1" name="eye-off-outline"></ion-icon>
              <ion-icon class="hide-option" [hidden]="!passwordShow1" name="eye-outline"></ion-icon>
            </a>
          </div>
          <span class="text-span">{{"account_min_6char"|translate}}</span>
        </ion-item>
      </ion-list>
      <div class="enter-btn">
        <ion-button (click)="SavePass()" class="btn-primary">{{"account_save"|translate}}</ion-button>
      </div>
    </div>
  </div>
</ion-content>