<ion-content class="paymentmethods" *ngIf="step == 1">
  <app-headerbg></app-headerbg>
   <div class="payment-main">
    <div class="title">
      <ion-buttons slot="start" (click)="navBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">{{"payment_payment_methods"|translate}}</ion-title>
    </div>
    <div class="cashmet">
      <img src="/assets/icon/dollar.svg">
      <div class="text">
        <p>{{"payment_with_cash"|translate}}</p>
        <span>{{"payment_payment_methods"|translate}}</span>
      </div>
    </div>
    <div class="list">
      <p class="cart-title">{{"payment_credit_carts"|translate}}</p>
      <div class="itemss">
        <img src="/assets/icon/apple-pay.png">
        <p>**** **** **** 5755</p>
      </div>
      <div class="itemss">
        <img src="/assets/icon/apple-pay.png">
        <p>**** **** **** 5755</p>
      </div>
      <div class="itemss">
        <img src="/assets/icon/apple-pay.png">
        <p>**** **** **** 5755</p>
      </div>
    </div>
    <div class="add-cartmet">
      <ion-button class="btn-primary" (click)="addcart2()">
        <ion-icon name="add-outline"></ion-icon>
        <p>{{"payment_add_new_credit_cart"|translate}}</p>
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-content class="addcartmethods" *ngIf="step == 2">
  <app-headerbg></app-headerbg>
  <div class="addpayment">
    <div class="heads">
      <div class="title1">
        <ion-buttons slot="start" (click)="backbtn()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title slot="center">{{"payment_payment_methods"|translate}}</ion-title>
      </div>
      <p>{{"payment_continue_with_safe"|translate}}</p>
    </div>
    <div class="main">
      <div class="card">
        <ion-item lines="none">
          <ion-label position="stacked">{{"payment_credit_cart_owner_name"|translate}}</ion-label>
          <ion-input type="text" placeholder="{{'payment_enter_credit_cart_owner_name'|translate}}"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{"payment_credit_cart_number"|translate}}</ion-label>
          <ion-input type="text" placeholder="{{'payment_enter_credit_cart_number'|translate}}"></ion-input>
        </ion-item>
        <div class="cvv">
          <ion-item lines="none">
            <ion-label position="stacked">{{"payment_date"|translate}}</ion-label>
            <ion-input type="text" placeholder="MM/YY"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">{{"payment_CVV"|translate}}</ion-label>
            <ion-input type="text" placeholder="XXX"></ion-input>
          </ion-item>
        </div>
        <!-- btn -->
        <div class="btn-add">
          <ion-button class="btn-primary">
            <p>{{"payment_add_the_credit_cart"|translate}}</p>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>