<ion-app>
  <ion-split-pane contentId="main-content" #splitPane >
    <ion-menu contentId="main-content" *ngIf="selected=='ayig'">
      <ion-content class="ion-padding menu-content">
        <div class="avatar">
          <ion-avatar>
            <img src="{{service.user.photo}}" />
            <div class="edit-icon">
              <ion-icon name="camera-outline"></ion-icon>
            </div>
          </ion-avatar>
          <div class="name">
            <h3>{{service.user.fullname}}</h3>
            <p>{{service.user.phone}}</p>
          </div>
        </div>
        <ion-list>
          <ion-item lines="none" detail="true" (click)="home()">
            <ion-label class="ion-no-padding">{{"app_order"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="notifications()">
            <ion-label class="ion-no-padding">
              <p>{{"app_notifications"|translate}} <span></span></p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="depatures()">
            <ion-label class="ion-no-padding">{{"app_departures"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="paymentmethods()">
            <ion-label class="ion-no-padding">{{"app_payment_method"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="myinfo()">
            <ion-label class="ion-no-padding">{{"app_account_info"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="promocode()">
            <ion-label class="ion-no-padding">{{"app_promo_code"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="myaddress()">
            <ion-label class="ion-no-padding">{{"app_address"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" routerLink="/myreservation">
            <ion-label class="ion-no-padding">{{"setting_rezervs"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-no-padding">{{"app_change_lang"|translate}}</ion-label>
            <!-- <ion-text slot="end">AZ</ion-text> -->
            <ion-select [(ngModel)]="SelectedLang" (ionChange)="selectLang()">
              <ion-select-option value="en">EN</ion-select-option>
              <ion-select-option value="az">AZ</ion-select-option>
              <ion-select-option value="ru">RU</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="help()">
            <ion-label class="ion-no-padding">{{"app_support"|translate}}</ion-label>
          </ion-item>
          <ion-item (click)="logout()" lines="none" class="log-out" detail="true">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label class="ion-no-padding">{{"app_logout_account"|translate}}</ion-label>
          </ion-item>
          <ion-item (click)="changeToEvo()" lines="none" class="access-towtruck">
            <ion-label class="ion-no-padding">{{"app_evo_service"|translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-menu class="evo-menu" contentId="main-content" *ngIf="selected=='evo'">
      <ion-content class="ion-padding menu-content">
        <div class="avatar">
          <ion-avatar>
            <img src="assets/img/p1.jpg" />
            <div class="edit-icon">
              <ion-icon name="camera-outline"></ion-icon>
            </div>
          </ion-avatar>
          <div class="name">
            <h3>{{service.user.fullname}}</h3>
            <p>{{service.user.phone}}</p>
          </div>
        </div>
        <ion-list>
          <ion-item lines="none" detail="true" (click)="evohome()">
            <ion-label class="ion-no-padding">{{"app_order"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="evonotification()">
            <ion-label class="ion-no-padding">
              <p>{{"app_notifications"|translate}} <span></span></p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="evodepartures()">
            <ion-label class="ion-no-padding">{{"app_departures"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="evopaymentmethods()">
            <ion-label class="ion-no-padding">{{"app_payment_method"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="evomyinfo()">
            <ion-label class="ion-no-padding">{{"app_account_info"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="evopromocode()">
            <ion-label class="ion-no-padding">{{"app_promo_code"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-no-padding">{{"app_change_lang"|translate}}</ion-label>
            <ion-select>
              <ion-select-option value="en">EN</ion-select-option>
              <ion-select-option value="az">AZ</ion-select-option>
              <ion-select-option value="ru">RU</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" detail="true" (click)="evohelp()">
            <ion-label class="ion-no-padding">{{"app_support"|translate}}</ion-label>
          </ion-item>
          <ion-item (click)="logout()"  lines="none" class="log-out" detail="true">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label class="ion-no-padding">{{"app_logout_account"|translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" class="access-towtruck">
            <ion-label (click)="changeToRahatGet()" class="ion-no-padding">{{"app_ayig_service"|translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>