<div class="enteraddress-component">
  <div class="dot">
    <div class="dot1"></div>
    <div class="line"></div>
    <div class="dot2"></div>
  </div>
  <form>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="text" placeholder="Hardan?"></ion-input>
      <ion-icon name="location-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="text" placeholder="Haraya?" expand="block"></ion-input>
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-item>
  </form>
</div>