<ion-content class="chatcontent">
  <div class="main">
    <div class="head">
      <app-headerbg [heigth1]=65></app-headerbg>
      <div class="header">
        <div class="left">
          <ion-avatar>
            <img src="/assets/img/p4.jpg">
          </ion-avatar>
          <div class="name">
            <p>{{activeOrder.Driver.fullname}}</p>
            <!-- <span>Xətdə</span> -->
          </div>
        </div>
        <div class="right">
          <ion-button (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </div>
      </div>
    </div>
    <div class="cont">
      <ion-list >
        <ion-item *ngFor="let msg of messages" class="{{msg.writer=='user'?'me':'you'}}" lines="none">
          <p slot="{{msg.writer=='user'?'end':'start'}}">{{msg.message}}</p>
        </ion-item>
        <!-- <ion-item class="you" lines="none">
          <p slot="start">Alekum</p>
        </ion-item> -->
      </ion-list>
      <div class="foot">
        <ion-textarea [(ngModel)]="msg" placeholder="Mesaj yazın" cols="1" rows="1"></ion-textarea>
        <ion-button (click)="sendMsg()"><ion-icon name="send"></ion-icon></ion-button>
      </div>
    </div>
  </div>
</ion-content>