<ion-content class="promocode-page">
  <app-headerbg></app-headerbg>
  <div class="promocode-main">
    <div class="title">
      <ion-buttons slot="start" routerLink="/setting">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title slot="center">Promo code</ion-title>
    </div>
    <div class="const">
      <div class="head">
        <div class="item">
          <div class="img-left">
            <img src="/assets/icon/promocode.svg">
          </div>
          <div class="text">
            <p>Hds3fe3</p>
            <span>Aktiv promo kodunuz</span>
          </div>
        </div>
        <div class="item">
          <div class="img-left">
            <img src="/assets/icon/promocode.svg">
          </div>
          <div class="text">
            <p>Hds3ffge3</p>
            <span>Aktiv promo kodunuz</span>
          </div>
        </div>
      </div>
      <div class="add-promocode">
        <ion-item lines="none" class="ion-no-padding">
          <ion-input type="text" placeholder="Promo kodunu daxil edin"></ion-input>
          <ion-button class="btn-primary">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <div class="share">
        <p class="sharetitle">Paylaş</p>
        <div class="share-btns">
          <ion-button>
            <div class="img-text">
              <img src="/assets/icon/whatsapp.svg">
              <p>Whatsapp</p>
            </div>
          </ion-button>
          <ion-button>
            <div class="img-text">
              <img src="/assets/icon/messanger.svg">
              <p>Messanger</p>
            </div>
          </ion-button>
          <ion-button>
            <div class="img-text">
              <img src="/assets/icon/instagram.svg">
              <p>İnstagram</p>
            </div>
          </ion-button>
          <ion-button>
            <div class="img-text">
              <img src="/assets/icon/link.svg">
              <p>Linki kopyala</p>
            </div>
          </ion-button>
        </div>
      </div>
      <div class="contact-share">
        <div class="header">
          <p class="share-title">Təklif olunan əlaqə</p>
          <ion-button>
            Hamısına bax
          </ion-button>
        </div>
        <div class="item">
          <div class="img-left">
            <span>ŞC</span>
          </div>
          <div class="text">
            <p>Şəli Camalov</p>
          </div>
          <ion-button>Paylaş</ion-button>
        </div>
        <div class="item">
          <div class="img-left">
            <span>İP</span>
          </div>
          <div class="text">
            <p>İvan Petrov</p>
          </div>
          <ion-button>Paylaş</ion-button>
        </div>
      </div>
    </div>
  </div>  
</ion-content>

